a {
  color: #055699;
}

a:hover {
  text-decoration: none;
  color: #055699;
}

.title-category span {
  border-bottom: 1px solid #055699;
  display: block;
  font-size: 0px;
  height: 21px;
  position: absolute;
  width: calc(100% - 30px);
  top: 0;
}

.title-category h4 {
  text-transform: uppercase;
  background-color: #f8fafc;
  color: #055699;
  padding-right: 10px;
  font-weight: bold;
  z-index: 1;
}

.news-time {
  font-size: 12px;
}

.search-news input {
  min-width: 350px;
}

.h-300 {
  height: 300px;
}

.h-150 {
  height: 150px;
}

.bg-image-title {
  background-color: #6c757d33;
}

.h-200 {
  height: 200px;
}

.news-more {
  font-style: italic;
  color: #3490dc;
}

.news-many-read a {
  font-size: 14px;
}

.news-many-read a:hover {
  color: #055699 !important;
}

.news-many-read h4 {
  background-color: #055699;
  font-size: 16px;
  text-transform: uppercase;
}

.news-many-read .rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.category-many-care ul {
  list-style-type: square;
}

