.git
.sonarlint
.dockerignore
.editorconfig
.DS_Store
.gitlab-ci.yml
.gitmodules
.env.example

/public/css
/public/js

/tmp/*
/node_modules/*
/nbproject/*
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/data/*
/storage/framework/views/*
/bootstrap/cache/*

/frontend/*
!/frontend/build