// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'base';

// Variables
@import 'variables';

// Footer
@import './partials/footer.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    .page-main-container {
        min-height: 36rem;
    }
}
.home-search {
    height: 100%;
  }
.adshared_1{position:relative;margin-bottom:10px;margin-top: 20px;}
.ads_1{margin-bottom: 10px !important;}
  