.autocompleteFieldWrapper {
    position: relative;
    margin-bottom: 10px;
}

.autocompleteFieldInputWrapper {
    input {
        padding-left: 32px;
    }

    span {
        position: absolute;
        top: 9px;
        left: 9px;
    }
}

.itemsWrapper {
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 100%;
    border: 1px solid #dcdcdc;
    top: 34px;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        cursor: pointer;
        list-style: none;
        padding: 5px 5px 5px 15px;
        border-bottom: 1px solid #ccc;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:last-child {
            border: none;
        }

        &:hover {
            background: #ddf0ff;
        }
    }

    .loadingWrapper {
        padding: 15px;

        span {
            width: 1.8rem;
            height: 1.8rem;
            color: #59b57e;
            margin-bottom: 3px;
            margin-right: 5px;
        }
    }
}